<div class="container">
    <div class="footer-content">
        <div class="footer-info">
            <a href="index.html" class="logo">
                <div class="logo-icon">R</div>
                <span class="logo-text" data-translate="site_name"></span>
            </a>
            <p data-translate="footer_tagline"></p>
            <div id="footer-social-icons" class="social-icons"></div>
        </div>
        <div class="footer-links">
            <h4 data-translate="footer_nav_title"></h4>
            <a href="produtos.html" class="footer-link" data-translate="nav_products"></a>
            <a href="sustentabilidade.html" class="footer-link" data-translate="nav_sustainability"></a>
            <a href="institucional.html" class="footer-link" data-translate="nav_institutional"></a>
            <a href="blog.html" class="footer-link" data-translate="nav_blog"></a>
        </div>
         <div class="footer-contact">
            <h4 data-translate="footer_contact_title"></h4>
            <p id="footer-contact-email"></p>
            <p id="footer-contact-phone"></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p id="footer-copyright"></p>
        <p id="footer-developer"></p>
    </div>
</div>